<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>接口管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="#springUrl('/static/layui/css/layui.css')" media="all" />
		<link rel="stylesheet" href="#springUrl('/static/common/css/global.css')" media="all">
		<link rel="stylesheet" href="#springUrl('/static/font-awesome/css/font-awesome.min.css')">
		<script type="text/javascript" src="#springUrl('/static/layui/layui.js')"></script>
		<script>
	    var contextPath="${request.contextPath}";
	    layui.config({
	    	base: contextPath+'/static/common/js/',
	    	version:new Date().getTime()
	    }).use(['msg'], function(){
	    	var $ = layui.jquery,
	    	msg = layui.msg;
	    	$.ajaxSetup({  
	            type: "POST",  
	            error: function(jqXHR, textStatus, errorThrown){
	            	console.log(jqXHR);
	            	console.log(textStatus);
	            	console.log(errorThrown);
	                switch (jqXHR.status){  
	                    case(500):  
	                        msg.error("服务器系统内部错误");  
	                        break;  
	                    case(401):  
	                    	msg.error("未登录");  
	                        break;  
	                    case(403):  
	                    	msg.error("无权限执行此操作");  
	                        break;
	                    case(404):  
	                    	msg.error("路径没有找到");  
	                        break;  
	                    case(408):  
	                    	msg.error("请求超时");  
	                        break;  
	                    default:  
	                    	msg.error("未知错误");  
	                }  
	            }  
	        });  	    	  
	    });  
	    
	    </script>
	</head>

	<body>
	