#parse('/layout/header.html')
		<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
			<div class="layui-header header header-demo">
				<div class="layui-main">
					<div class="admin-login-box">
						<a class="logo" style="left: 0;" href="index.html">
							<span style="font-size: 22px;">接口管理</span>
						</a>
						<div class="admin-side-toggle">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						<div class="admin-side-full">
							<i class="fa fa-life-bouy" aria-hidden="true"></i>
						</div>

						<div class="layui-form component">
					      <select lay-search lay-filter="component">
					        <option value="">搜索接口</option>
					        <option value="element/color.html">color 颜色</option>
					        <option value="element/icon.html">iconfont 字体图标</option>
					        <option value="element/button.html">button 按钮</option>
					        <option value="element/form.html">form 表单组</option>
					        <option value="element/form.html#input">input 输入框</option>
					        <option value="element/form.html#select">select 下拉选择框</option>
					        <option value="element/form.html#checkbox">checkbox 复选框</option>
					        <option value="element/form.html#switch">switch 开关</option>
					        <option value="element/form.html#radio">radio 单选框</option>
					        <option value="element/form.html#textarea">textarea 文本域</option>
					        <option value="element/nav.html">nav 导航菜单</option>
					        <option value="element/nav.html#breadcrumb">breadcrumb 面包屑</option>
					        <option value="element/tab.html">tabs 选项卡</option>
					        <option value="element/table.html">table 表格</option>
					        <option value="element/progress.html">progress 进度条</option>
					        <option value="element/collapse.html">collapse 折叠面板/手风琴</option>
					        <option value="element/auxiliar.html#blockquote">blockquote 引用块</option>
					        <option value="element/auxiliar.html#fieldset">fieldset 字段集</option>
					        <option value="modules/layer.html">layer 弹出层/弹窗综合</option>
					        <option value="modules/layim.html">layim 即时通讯/聊天</option>
					        <option value="modules/laydate.html">laydate 日期时间选择器</option>
					        <option value="modules/laypage.html">laypage 分页</option>
					        <option value="modules/laytpl.html">laytpl 模板引擎</option>
					        <option value="modules/form.html">form 表单模块</option>
					        <option value="modules/element.html">element 常用元素操作</option>
					        <option value="modules/layedit.html">layedit 富文本编辑器</option>
					        <option value="modules/upload.html">upload 文件/图片上传</option>
					        <option value="modules/tree.html">tree 树形菜单</option>
					        <option value="modules/util.html">util 工具集</option>
					        <option value="modules/flow.html">flow 信息流/图片懒加载</option>
					        <option value="modules/code.html">code 代码修饰</option>
					      </select>
					    </div>

					</div>
					<ul class="layui-nav admin-header-item">
						  <li  id="project_list" class="layui-nav-item">
						    <a href="javascript:;">项目</a>
						    <dl class="layui-nav-child"> <!-- 二级菜单 -->
						    #foreach($!projectBean in $!projectList)
						    	<dd><a href="javascript:;" key="$!{projectBean.id}">$!{projectBean.name}</a></dd>
						    #end
						    </dl>
						  </li>
						<li class="layui-nav-item">
							<a href="javascript:;" id="setupPage">设置</a>
						</li>
						
						
					</ul>
					
				</div>
			</div>
			<div class="layui-side layui-bg-black" id="admin-side">
				<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
			</div>
			<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">
							<i class="fa fa-dashboard" aria-hidden="true"></i>
							<cite>使用说明</cite>
						</li>
					</ul>
					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show">
							<iframe src=""></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer footer footer-demo" id="admin-footer">
				<div class="layui-main">
					<p>2017 &copy;
						<a href="http://m.zhengjinfan.cn/">luculent -zy&yfj</a> Open license
					</p>
				</div>
			</div>
			
			
			<!--锁屏模板 start-->
			
			<!--锁屏模板 end -->
			
			<script type="text/javascript" src="#springUrl('/static/layui/layui.js')"></script>
			<script type="text/javascript" src="#springUrl('/static/datas/configs.js')"></script>
			<script src="#springUrl('/static/lib/index.js')"></script>
			
		</div>
#parse('/layout/footer.html')