#parse('/layout/header.html')
<div class="body-main">
	<fieldset class="layui-elem-field layui-field-title">
		<legend>全局设置</legend>
	</fieldset>
	<form class="layui-form layui-form-pane">
		<input type="hidden" name="id" id="id" value="$!{config.id}" />
		<div class="layui-form-item">
			<label class="layui-form-label">数据库URL</label>
			<div class="layui-input-block">
				<input name="url" lay-verify="required" autocomplete="off"
					placeholder="请输入" class="layui-input" type="text"
					value="$!{config.url}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">驱动名</label>
			<div class="layui-input-block">
				<input name="driverClassName" lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					type="text" value="$!{config.driverClassName}">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-inline">
				<input name="username" lay-verify="required" placeholder="请输入"
					autocomplete="off" class="layui-input" type="text"
					value="$!{config.username}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-inline">
				<input name="password" lay-verify="required" placeholder="请输入"
					autocomplete="off" class="layui-input" type="text"
					value="$!{config.password}">
			</div>
		</div>

		<div class="layui-form-item">
			<button class="layui-btn" lay-submit="" lay-filter="go">保存</button>
		</div>
	</form>
</div>

<script type="text/javascript"
	src="#springUrl('/static/lib/config/config.js')"></script>
#parse('/layout/footer.html')
